#

include:
  - path: ./mocks/docker-compose.mocks.yaml

services:
  postgres-moncomptepro:
    image: postgres:14-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

volumes:
  postgres:
