#

name: scalingo/buildpack

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  push:
    name: Sync scalingo/buildpack branch with .scalingo/buildpack folder
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: github.ref == 'refs/heads/master'
        with:
          commit_message: ${{ github.event.head_commit.message }}
          enable_jekyll: true # NOTE(douglasduteil): do not add .nojekyll file
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: scalingo/buildpack
          publish_dir: ./.scalingo/buildpack
          user_email: "github-actions[bot]@users.noreply.github.com"
          user_name: "github-actions[bot]"
